.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url("https://pbs.twimg.com/media/GBTh3bWXsAEQclr?format=jpg&name=large");
}

